/* ===== Mi cuenta ===== */

.mi-cuenta-page {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.cuenta-formularios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.mi-cuenta-page form {
  border: 1px solid var(--border);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  background-color: var(--surface);
  border-color: var(--primary);

  flex: 1 1 30rem;
  max-width: 25rem;

  margin: 0;

  padding-top: 1rem;
  padding-bottom: 0%;
  padding-left: 2%;
  padding-right: 2%;
}

.mi-cuenta-page form::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 0.3rem;
  background: linear-gradient(90deg, var(--morado), var(--primary));
}

.mi-cuenta-page h1 {
  font-size: 1.8em;
  margin-top: 0%;
  margin-bottom: 1rem;
}

.mi-cuenta-page h2 {
  font-size: 1.5em;
  margin-bottom: 1.5rem;
}

.mi-cuenta-page label {
  margin-top: 0rem;
  margin-bottom: 0.2rem;
  font-size: 1.05em;
}

.mi-cuenta-page input,
.mi-cuenta-page select {
  padding: 0.3rem;
  font-size: 1.05em;
  margin-bottom: 1rem;
}

.cuenta-acciones {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1.3rem;
}

.cuenta-acciones > button,
.cuenta-acciones > a {
  flex: 1 1 calc(50% - 0.75rem);
  margin: 0;
  padding: 0.6rem 0.5rem;
  font-size: 0.85em;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
}

/* Panel de Peligro */
.panel-peligro {
  border-color: var(--danger) !important;
}

.panel-peligro::before {
  background: linear-gradient(90deg, var(--danger), var(--warning)) !important;
}

.panel-peligro h2 {
  color: var(--danger);
}

.panel-peligro > .cuenta-acciones{
  margin-top: 13%;
}

.texto-advertencia {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--danger);
}

.texto-advertencia2 {
  font-size: 1.2em;
  margin-bottom: 3rem;
  font-weight: bold;
  color: var(--danger);
}

.mensaje-exito-interno {
  color: var(--success);
  font-weight: bold;
  margin-bottom: 1rem;
  background: linear-gradient(135deg, var(--success-bg), var(--surface));
  padding: 0.5rem;
  border: 1px dashed var(--success);
}

@media (max-width: 768px) {
  .mi-cuenta-page {
    padding: 0;
  }

  .cuenta-formularios {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .mi-cuenta-page form {
    padding: 1.5rem;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}