body {
    font-family:
        "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

[data-bs-theme="light"] body {
    background-color: #fdf6f0;
}

[data-bs-theme="dark"] body {
    background-color: #1f1d2b;
}

p {
    text-align: center;
}

#header {
    z-index: 9999;
}

[data-bs-theme="light"] .bg-discovery-subtle {
    background: linear-gradient(#cdeaff, #d8c7f0) !important;
}

[data-bs-theme="light"] #btnTema.btn-outline-light {
    --bs-btn-color: #000000;
    --bs-btn-border-color: #000000;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #000000;
    --bs-btn-hover-border-color: #000000;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #000000;
    --bs-btn-active-border-color: #000000;
}

.card-title {
    text-align: left;
}

img {
    transition: 0.4s ease;
}

img:hover {
    cursor: pointer;
    filter: brightness(1.05);
}

#progressbar {
    padding: 0;
}

#pageProgress {
    padding: 0;
    margin: 0;
    height: 6px;
    width: 95vw;
    background-color: #000000;
    border: none;
    border-radius: 3px;
}

#pageProgress::-webkit-progress-value {
    background-color: #b9a6e0;
    border-radius: 3px;
}

#pageProgress::-webkit-progress-bar {
    background-color: #000000;
    border-radius: 3px;
}